#gif-dialog.modal.fade(tabindex='-1')
  .modal-dialog
    .modal-content
      .modal-header
        h1#exampleModalLabel.modal-title.fs-5 gif search
        button.btn-close(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        div(class="input-group flex-nowrap mb-4")
          input(id="gif-search" class="form-control" type="text" maxlength="32" placeholder="search tenor")
          button(class="input-group-text btn btn-dark" id="search-button" type="button" onclick="initTenor()")="search"
        div(id="gif-prev-cont" class="d-flex flex-wrap")
          div(class="left w-50 pe-1")
          div(class="right w-50 ps-1")
        div(id="control")
          div(class="d-flex justify-content-center align-items-center")
            button(class="btn btn-dark btn-lg flex-fill m-4 visually-hidden" type="button" onclick="nextTenor()" id="more") load more
          .d-flex.justify-content-center(id="gif-loading" class="m-4 visually-hidden")
            .spinner-border(role='status')
              span.visually-hidden Loading...