name: Deploy
on:
  workflow_run:
    workflows: ["Build"]
    types:
      - completed
jobs:
  deploy:
    permissions:
      contents: write
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Bump version
        run: |
          cd server
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          npm version patch --no-git-tag-version
          git add package.json
          git add package-lock.json
          git commit -m "chore: bump version [skip ci]"
          git push

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: server-dist
          run-id: ${{ github.event.workflow_run.id }}
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path: dist

      - name: Copy files to server via SSH
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_USER_SSH_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          source: "dist/*"
          target: "/home/${{ secrets.DEPLOY_USER }}/kudos/"

      - name: Run docker app
        uses: appleboy/ssh-action@v0.1.10
        with:
          host: ${{ secrets.DEPLOY_HOST }}
          username: ${{ secrets.DEPLOY_USER }}
          key: ${{ secrets.DEPLOY_USER_SSH_KEY }}
          port: ${{ secrets.DEPLOY_PORT }}
          script: |
            cd /home/${{ secrets.DEPLOY_USER }}/kudos
            mv dist/* .
