name: Tests
on: [push]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install modules
        run: npm i
        with:
          working-directory: "server"
      - name: Run tests
        run: npm run jest
        with:
          working-directory: "server"
